попытка работы с составными осями линий

In [7]:
import geopandas as gpd
import pandas as pd
from pathlib import Path
from shapely.geometry import Point, Polygon, LineString
from shapely.ops import split
import csv

In [2]:
cgt_p = Path(r'D:\python\some_tools\centrostruct\ctow_test.txt')

In [22]:
c_lines = []
with open(cgt_p, newline='') as f:
    reader = csv.reader(f, delimiter=' ')
    num_of_clines = 1   # number of c-line
    str_index = 1   # index of structure
    for row in reader:
        if len(row) == 4:
            # ctow file should contain id, x, y, z in each row
            # to c-lines list we add to each row index of stucture and number of c-line
            c_lines.append((str_index, num_of_clines, row[0], row[1], row[2], row[3]))
            str_index += 1   # index for next structure
        elif len(row) == 0:
            num_of_clines += 1    # blank row means next c-line follow
        else:
            print('ctow file error')

In [23]:
c_lines

[(1, 1, 't1', '1', '3', '1'),
 (2, 1, 't2', '3', '2', '2'),
 (3, 1, 't3', '5', '4', '1'),
 (4, 1, 't4', '4', '6', '1'),
 (5, 1, 't5', '5', '7', '1'),
 (6, 1, 't6', '7', '6', '2'),
 (7, 1, 't7', '8', '4', '1'),
 (8, 1, 't8', '9', '3', '2'),
 (9, 1, 't9', '8', '2', '1'),
 (10, 2, 't10', '1', '1', '2'),
 (11, 2, 't2', '3', '2', '2'),
 (12, 3, 't5', '5', '7', '1'),
 (13, 3, 't11', '4', '8', '2'),
 (14, 3, 't12', '3', '8', '1'),
 (15, 3, 't13', '1', '7', '1'),
 (16, 4, 't6', '7', '6', '2'),
 (17, 4, 't14', '9', '5', '2'),
 (18, 4, 't8', '9', '3', '2')]

In [41]:
c_lines_p = pd.DataFrame(c_lines, columns =['index', 'c_line', 'id', 'x', 'y', 'z']).set_index('index')

In [42]:
c_lines_p

       c_line   id  x  y  z
index
1           1   t1  1  3  1
2           1   t2  3  2  2
3           1   t3  5  4  1
4           1   t4  4  6  1
5           1   t5  5  7  1
6           1   t6  7  6  2
7           1   t7  8  4  1
8           1   t8  9  3  2
9           1   t9  8  2  1
10          2  t10  1  1  2
11          2   t2  3  2  2
12          3   t5  5  7  1
13          3  t11  4  8  2
14          3  t12  3  8  1
15          3  t13  1  7  1
16          4   t6  7  6  2
17          4  t14  9  5  2
18          4   t8  9  3  2

In [ ]:
cgtw_g = gpd.GeoDataFrame(c_tab, crs="EPSG:2193", geometry=gpd.points_from_xy(c_tab['x'], c_tab['y'], c_tab['z']))